sudo: false

language: python

python:
  - "3.5"
  - "3.6"
  - "3.7-dev"

cache:
  pip: false

install:
  # - pip install --upgrade pipenv
  # - pipenv install --dev
  - pip install pipenv
  - pipenv run pip install pip==18.0
  - pipenv install --dev

script:
  - make ci

after_success:
  make coveralls
