[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fast-arrow = {editable = true,path = "."}
requests = ">=2.20.0"
yarl = "*"
"pathlib2" = "*"
pandas = ">=0.23.2"
numpy = "*"
datetime = "*"
deprecation = "*"
urllib3 = ">=1.24.2"

[dev-packages]
vcrpy = "*"
pytest = "*"
pytest-cov = "*"
detox = "*"
"flake8" = "*"
pyyaml = "==5.4"
ipdb = "*"

[requires]
python_version = "3.6"

[scripts]
run_all_examples = "sh ./run_all_examples.sh"
