[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fast-arrow = {editable = true,path = "."}
requests = ">=2.20.0"
yarl = "*"
"pathlib2" = "*"
pandas = ">=0.23.2"
numpy = "*"
datetime = "*"

[dev-packages]
vcrpy = "*"
pytest = "*"
pytest-cov = "*"
detox = "*"
"flake8" = "*"
pyyaml = "==4.2b4"

[requires]
python_version = "3.6"
