[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fast-arrow = {editable = true, path = "."}
click = "*"
requests = "*"
"pathlib2" = "*"

[dev-packages]
vcrpy = "*"
pytest = "*"
pytest-cov = "*"
detox = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
