interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer 123]
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
    method: GET
    uri: https://api.robinhood.com/dividends/
  response:
    body: {string: '{"previous": null, "results": [{"account":"https:\/\/api.robinhood.com\/accounts\/890\/","url":"https:\/\/api.robinhood.com\/dividends\/4aa9e3ff-ef0e-4daa-a4a1-70f50346c7a1\/","amount":"213.21","payable_date":"2018-08-10","instrument":"https:\/\/api.robinhood.com\/instruments\/3bd6f6b5-40a1-418b-97ed-2a40f509c738\/","rate":"0.2132140000","record_date":"2018-08-05","position":"1000.0000","withholding":"0.00","id":"4aa9e3ff-ef0e-4daa-a4a1-70f50346c7a1","paid_at":"2018-08-10T23:07:08.766749Z"}], "next": null}'}
    headers:
      Allow: ['GET, PUT, PATCH, HEAD, OPTIONS']
      Content-Language: [en-us]
      Content-Type: [application/json]
      X-Robinhood-API-Version: [1.231.2]
    status: {code: 200, message: OK}
version: 1
