interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer 123]
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
    method: GET
    uri: https://api.robinhood.com/options/instruments/?ids=e03e7414-527d-4b44-a081-c61aeb474060
  response:
    body: {string: '{"previous": null, "results": [{"issue_date": "2003-04-25", "tradability": "tradable", "strike_price": "122.0000", "state": "active", "url": "https://api.robinhood.com/options/instruments/e03e7414-527d-4b44-a081-c61aeb474060/", "expiration_date": "2018-08-10", "created_at": "2018-06-28T06:22:57.146299Z", "chain_id": "644f21f0-a166-4c94-bd67-02568d3a5940", "updated_at": "2018-07-24T23:48:46.074823Z", "rhs_tradability": "tradable", "type": "call", "chain_symbol": "TLT", "min_ticks": {"cutoff_price": "3.00", "below_tick": "0.01", "above_tick": "0.05"}, "id": "e03e7414-527d-4b44-a081-c61aeb474060"}], "next": null}'}
    headers:
      Allow: ['GET, PUT, PATCH, HEAD, OPTIONS']
      Content-Language: [en-us]
      Content-Type: [application/json]
      X-Robinhood-API-Version: [1.231.2]
    status: {code: 200, message: OK}
version: 1
