interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer 123]
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
      X-Robinhood-API-Version: [1.0.0]
    method: GET
    uri: https://api.robinhood.com/marketdata/options/?instruments=https%3A%2F%2Fapi.robinhood.com%2Foptions%2Finstruments%2Fe03e7414-527d-4b44-a081-c61aeb474060%2F
  response:
    body: {string: '{"previous": null, "results": [{"adjusted_mark_price": "0.120000", "ask_price": "0.140000", "ask_size": 741, "bid_price": "0.100000", "bid_size": 685, "break_even_price": "122.120000", "high_price": "0.190000", "instrument": "https://api.robinhood.com/options/instruments/e03e7414-527d-4b44-a081-c61aeb474060/", "last_trade_price": "0.130000", "last_trade_size": 140, "low_price": "0.110000", "mark_price": "0.120000", "open_interest": 141, "previous_close_date": "2018-07-25", "previous_close_price": "0.160000", "volume": 542, "chance_of_profit_long": "0.101386", "chance_of_profit_short": "0.898613", "delta": "0.114814", "gamma": "0.089707", "implied_volatility": "0.089379", "rho": "0.005578", "theta": "-0.014525", "vega": "0.046881"}], "next": null}'}
    headers:
      Allow: ['GET, PUT, PATCH, HEAD, OPTIONS']
      Content-Language: [en-us]
      Content-Type: [application/json]
      X-Robinhood-API-Version: [1.231.2]
    status: {code: 200, message: OK}
version: 1
