interactions:
- request:
    body: null
    headers:
      Authorization: [Token 123]
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
      X-Robinhood-API-Version: [1.0.0]
    method: GET
    uri: https://api.robinhood.com/options/positions/
  response:
    body: {string: '[{"intraday_average_open_price": "-774.0000", "account": "https://api.robinhood.com/accounts/890/", "intraday_quantity": "1.0000", "option": "https://api.robinhood.com/options/instruments/125275ca-fc29-42e1-a054-19bca4ece745/", "created_at": "2018-07-25T15:10:45.867345Z", "updated_at": "2018-07-25T18:11:09.990215Z", "average_price": "-774.0000", "chain_id": "11226a7c-8bf6-4332-8d62-e423a4f82046", "pending_expired_quantity": "0.0000", "pending_buy_quantity": "0.0000", "url": "https://api.robinhood.com/options/positions/c809736a-166b-44ae-8f39-ab2dc0ccfd1c/", "pending_sell_quantity": "0.0000", "chain_symbol": "AMZN", "type": "short", "id": "c809736a-166b-44ae-8f39-ab2dc0ccfd1c", "quantity": "1.0000"}, {"intraday_average_open_price": "0.0000", "account": "https://api.robinhood.com/accounts/890/", "intraday_quantity": "0.0000", "option": "https://api.robinhood.com/options/instruments/125275ca-fc29-42e1-a054-19bca4ece745/", "created_at": "2018-07-25T15:10:45.855672Z", "updated_at": "2018-07-25T18:11:09.985760Z", "average_price": "0.0000", "chain_id": "11226a7c-8bf6-4332-8d62-e423a4f82046", "pending_expired_quantity": "0.0000", "pending_buy_quantity": "0.0000", "url": "https://api.rob[...]
