interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer 123]
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
    method: GET
    uri: https://api.robinhood.com/options/chains/?equity_instrument_ids=644f21f0-a166-4c94-bd67-02568d3a5940&state=active&tradability=tradable
  response:
    body: {string: '{"previous": null, "results": [{"can_open_position": true, "symbol": "TLT", "trade_value_multiplier": "100.0000", "underlying_instruments": [{"instrument": "https://api.robinhood.com/instruments/3bd6f6b5-40a1-418b-97ed-2a40f509c738/", "id": "12830f51-5d1c-4c61-ba68-f10d38fe4ca4", "quantity": 100}], "expiration_dates": ["2018-08-03", "2018-08-10", "2018-08-17", "2018-08-24", "2018-08-31", "2018-09-07", "2018-09-21", "2018-10-19", "2018-12-21", "2019-01-18", "2019-03-15", "2020-01-17"], "cash_component": null, "min_ticks": {"cutoff_price": "3.00", "below_tick": "0.01", "above_tick": "0.05"}, "id": "644f21f0-a166-4c94-bd67-02568d3a5940"}], "next": null}'}
    headers:
      Allow: ['GET, PUT, PATCH, HEAD, OPTIONS']
      Content-Language: [en-us]
      Content-Type: [application/json]
      X-Robinhood-API-Version: [1.231.2]
    status: {code: 200, message: OK}
version: 1
