interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer 123]
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
    method: GET
    uri: https://api.robinhood.com/user/
  response:
    body: {string: '{"username":"my_username","first_name":"","last_name":"","id_info":"https:\/\/api.robinhood.com\/user\/id\/","url":"https:\/\/api.robinhood.com\/user\/","email_verified":true,"created_at":"2018-06-10T04:42:13.660396Z","basic_info":"https:\/\/api.robinhood.com\/user\/basic_info\/","email":"","investment_profile":"https:\/\/api.robinhood.com\/user\/investment_profile\/","id":"d016f749-c702-4471-b983-e5283acfada2","international_info":"https:\/\/api.robinhood.com\/user\/international_info\/","employment":"https:\/\/api.robinhood.com\/user\/employment\/","additional_info":"https:\/\/api.robinhood.com\/user\/additional_info\/"}'}
    headers:
      Allow: ['GET, PUT, PATCH, HEAD, OPTIONS']
      Content-Language: [en-us]
      Content-Type: [application/json]
      X-Robinhood-API-Version: [1.231.2]
    status: {code: 200, message: OK}
version: 1
